header.container-fluid
    .container
        ul.nav.justify-content-end
                            li.nav-item
                                a.nav-link.active(href="#") Thông báo
                            li.nav-item
                                a.nav-link.active(href="#") Trợ giúp
                            li.nav-item
                                a.nav-link.active(href="#") Đăng ký
                            li.nav-item
                                a.nav-link.active(href="#", data-toggle="modal",data-target="#login--modal-center") Đăng nhập
        nav.navbar.navbar-expand-lg.navbar-light
            a.navbar-brand(href="#")
                img.logo(src="images/logo.png", alt="")
            button.navbar-toggler(data-target='#my-nav', data-toggle='collapse', aria-controls='my-nav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            .collapse.navbar-collapse#my-nav
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='#', data-toggle='popover', data-placement='top',title='Popover', data-content='This is content of my popover') Home
                    script.
                        $(function () {
                        $('[data-toggle="popover"]').popover()
                        })
                    li.nav-item
                        a.nav-link(href="#", data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') Link
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle#my-dropdown(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Text
                        .dropdown-menu(aria-labelledby='my-dropdown')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href="#") Another action
                form.form-inline.my-2.my-lg-0
                    input.form-control.mr-sm-2(type="search", placeholder="Search", aria-label="Search")
                    button.btn.btn-outline-light.my-2.my-sm-0(type="submit") Search
.modal.fade#login--modal-center(tabindex='-1', role='dialog', aria-labelledby='my-modal-title', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5.modal-title(id='my-modal-title') Đăng nhập
                button.close(data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                form
                    .form-group
                        label.col-form-label(for="account") Tên đăng nhập
                        input.form-control#account(type="text")
                    .form-group
                        label.col-form-label(for="password") Mật khẩu
                        input.form-control#password(type="password")
            .modal-footer
                button.btn.btn-primary(type=button) Đăng nhập
                button.btn.btn-secondary(type=button) Đăng ký